Repository AbsaOSS/enceladus, pull requests merged in 2019-05, with the labels that each got.

#355 #245 Login form doesn't work with form autocomplete
  menas/ui/components/login/loginMain.controller.js
  menas/ui/components/login/loginMain.view.xml
Labels: Menas, bug

#356 #216 - Active hamburger menu on login page
  menas/ui/components/Component.js
  menas/ui/components/login/loginMain.controller.js
Labels: Menas, bug

#357 #230: Validators unification and better reliability
  standardization/src/main/scala/za/co/absa/enceladus/standardization/interpreter/stages/TypeParser.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/stages/TypeParserSuite.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/stages/TypeParserSuiteTemplate.scala
  utils/src/main/resources/log4j.properties
  utils/src/main/scala/za/co/absa/enceladus/utils/implicits/StringImplicits.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/implicits/StructFieldImplicits.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/time/DateTimePattern.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/time/EnceladusDateTimeParser.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/types/Defaults.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/validation/SchemaValidator.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/validation/field/FieldValidator.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/validation/field/FieldValidatorDate.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/validation/field/FieldValidatorDateTime.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/validation/field/FieldValidatorScalar.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/validation/field/FieldValidatorTimestamp.scala
  utils/src/test/resources/application.conf
  utils/src/test/resources/log4j.properties
  utils/src/test/scala/za/co/absa/enceladus/utils/implicits/StringImplicitsSuite.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/validation/DateTimeValidatorSuite.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/validation/field/FieldValidatorDateSuite.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/validation/field/FieldValidatorTimestampSuite.scala
Labels: Standardization, bug, feature

#378 Docs/353 time zone support in standardization
  README.md
Labels: Standardization, docs

#405 #404 Upgrade version of UI5 to 1.65.1
  menas/pom.xml
  pom.xml
Labels: Menas, enhancement
