Repository AbsaOSS/enceladus, pull requests merged in 2019-07, with the labels that each got.

#607 #600: Catching exceptions when checking for --menas-credential-file parameter
  conformance/src/main/scala/za/co/absa/enceladus/conformance/CmdConfig.scala
  standardization/src/main/scala/za/co/absa/enceladus/standardization/CmdConfig.scala
  testutils/src/main/scala/za/co/absa/enceladus/testutils/e2eSparkRunner/CmdConfig.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/fs/FileSystemVersionUtils.scala
Labels: Conformance, Standardization, bug

#627 #626: In case Menas is running on https Spline on http protocol won't load
  menas/src/main/resources/application.properties.template
Labels: Menas, bug

#608 #508 Add human readable description of cron time in scheduler
  menas/WebContent/META-INF/MANIFEST.MF
  menas/pom.xml
  menas/ui/components/app.controller.js
  menas/ui/components/dataset/datasetDetail.controller.js
  menas/ui/components/dataset/schedule/editSchedule.fragment.xml
  menas/ui/components/dataset/schedule/viewSchedule.fragment.xml
  menas/ui/components/i18n/message.properties
  menas/ui/components/types/CronEntryType.js
  menas/ui/generic/formatters.js
  menas/ui/index.html
  pom.xml
Labels: Menas, feature

#599 #598 Add local search to ui5 TableUtils
  menas/ui/components/dataset/datasetDetail.controller.js
  menas/ui/components/tables/TableUtils.js
  menas/ui/components/tables/searchDialog.fragment.xml
Labels: Menas, enhancement, feature

#638 #637 Hamburger menu shows on login page on small width screen
  menas/ui/components/app.controller.js
  menas/ui/components/login/loginDetail.controller.js
  menas/ui/components/login/loginDetail.view.xml
Labels: Menas, UX, bug

#640 #634 Dashboard tiles don't work
  menas/ui/components/home/landingPage.controller.js
Labels: Menas, bug

#632 #579 Adujust the height of the lineage iframe to fill the page
  menas/ui/components/run/runDetail.controller.js
  menas/ui/components/run/runDetail.view.xml
  menas/ui/css/style.css
Labels: Menas, UX, enhancement

#642 #641 Implement TableUtils to audit trails in other menas entities
  menas/ui/components/AuditTrail.js
  menas/ui/components/dataset/datasetDetail.controller.js
  menas/ui/components/mappingTable/mappingTableDetail.controller.js
  menas/ui/components/schema/schemaDetail.controller.js
  menas/ui/components/tables/TableUtils.js
Labels: Menas, feature

#604 #458: Column enceladus_info_date does not respect timezones
  conformance/src/main/scala/za/co/absa/enceladus/conformance/DynamicConformanceJob.scala
  conformance/src/test/scala/za/co/absa/enceladus/conformance/interpreter/rules/TestRuleBehaviors.scala
  menas/src/main/scala/za/co/absa/enceladus/menas/repositories/OozieRepository.scala
  menas/src/main/scala/za/co/absa/enceladus/menas/services/DatasetService.scala
  standardization/src/main/scala/za/co/absa/enceladus/standardization/StandardizationJob.scala
  testutils/src/test/scala/za/co/absa/enceladus/testutils/datasetComparison/ComparisonJobTest.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/implicits/DataFrameImplicits.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/testUtils/LoggerTestBase.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/implicits/DataFrameImplicitsSuite.scala
Labels: Conformance, bug

#644 #636 Automatically invalidate static resources on new deployment
  menas/src/main/resources/application.properties.template
  menas/src/main/scala/za/co/absa/enceladus/menas/WebSecurityConfig.scala
  menas/src/main/scala/za/co/absa/enceladus/menas/controllers/UserInfoController.scala
  menas/ui/components/app.controller.js
  menas/ui/components/run/runDetail.controller.js
  menas/ui/index.html
Labels: Menas, bug

#648 #646 Upgrade UI5 to 1.67.1
  pom.xml
Labels: Menas

#655 New build step for release branch in Jenkinsfile
  Jenkinsfile
Labels: devops

#680 #610: add enceladus_info_date_string field to Conformance output
  conformance/src/main/scala/za/co/absa/enceladus/conformance/DynamicConformanceJob.scala
Labels: Conformance, feature

#702 #458: Early Timezone normalization
  conformance/src/main/scala/za/co/absa/enceladus/conformance/DynamicConformanceJob.scala
  examples/src/main/scala/za/co/absa/enceladus/examples/CustomRuleSample1.scala
  examples/src/main/scala/za/co/absa/enceladus/examples/CustomRuleSample2.scala
  examples/src/main/scala/za/co/absa/enceladus/examples/CustomRuleSample3.scala
  examples/src/main/scala/za/co/absa/enceladus/examples/CustomRuleSample4.scala
  menas/src/main/scala/za/co/absa/enceladus/menas/SparkConfig.scala
  standardization/src/main/scala/za/co/absa/enceladus/standardization/StandardizationJob.scala
  testutils/src/main/scala/za/co/absa/enceladus/testutils/datasetComparison/ComparisonJob.scala
  testutils/src/main/scala/za/co/absa/enceladus/testutils/e2eSparkRunner/E2ESparkRunner.scala
  testutils/src/main/scala/za/co/absa/enceladus/testutils/infoFileComparison/InfoFileComparisonJob.scala
  testutils/src/main/scala/za/co/absa/enceladus/testutils/rest/RestRunnerJob.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/testUtils/SparkTestBase.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/time/TimeZoneNormalizer.scala
Labels: feature, refactoring

#679 Bugfix/466 standardization support for second fractions
  README.md
  standardization/src/main/scala/za/co/absa/enceladus/standardization/interpreter/stages/TypeParser.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/StandardizationInterpreter_DateSuite.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/StandardizationInterpreter_TimestampSuite.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/stages/TypeParserSuiteTemplate.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/stages/TypeParser_FromBooleanTypeSuite.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/stages/TypeParser_FromDateTypeSuite.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/stages/TypeParser_FromDecimalTypeSuite.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/stages/TypeParser_FromDoubleTypeSuite.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/stages/TypeParser_FromLongTypeSuite.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/stages/TypeParser_FromStringTypeSuite.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/stages/TypeParser_FromTimestampTypeSuite.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/standardizationInterpreter_RowTypes.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/general/Section.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/implicits/ColumnImplicits.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/implicits/StringImplicits.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/time/DateTimePattern.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/time/EnceladusDateTimeParser.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/validation/field/FieldValidatorDate.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/validation/field/FieldValidatorDateTime.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/validation/field/FieldValidatorTimestamp.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/general/SectionSuite.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/implicits/StringImplicitsSuite.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/time/DateTimePatternSuite.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/time/EnceladusDateTimeParserSuite.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/validation/field/FieldValidatorDateSuite.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/validation/field/FieldValidatorTimestampSuite.scala
Labels: Standardization, bug, feature

#708 #707: Parsing leniency differs between EnceladusDateTimeParser and Spark
  pom.xml
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/stages/TypeParser_FromBooleanTypeSuite.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/time/EnceladusDateTimeParser.scala
  utils/src/test/scala/za/co/absa/enceladus/SchemaValidationSuite.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/time/EnceladusDateTimeParserSuite.scala
Labels: Standardization, bug, refactoring, tests

#728 #718: Decrease the size of the build log - module Utils
  utils/src/main/scala/za/co/absa/enceladus/utils/error/ErrorMessage.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/explode/ExplodeTools.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/fs/FileSystemVersionUtils.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/implicits/ColumnImplicits.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/performance/PerformanceMeasurer.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/schema/SchemaUtils.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/testUtils/SparkJobRunnerMethods.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/transformations/ArrayTransformations.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/transformations/DeepArrayTransformations.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/types/TypePattern.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/validation/SchemaPathValidator.scala
  utils/src/test/resources/log4j.properties
  utils/src/test/scala/za/co/absa/enceladus/FsUtilsSpec.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/transformations/ArrayTransformationsSuite.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/transformations/DeepArrayErrorTransformationSuite.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/transformations/DeepArrayTransformationSuite.scala
Labels: refactoring

#742 #725: Decrease the size of the build log - module Testutils
  testutils/src/main/scala/za/co/absa/enceladus/testutils/DataframeReader.scala
  testutils/src/main/scala/za/co/absa/enceladus/testutils/HelperFunctions.scala
  testutils/src/main/scala/za/co/absa/enceladus/testutils/e2eSparkRunner/CmdConfig.scala
  testutils/src/main/scala/za/co/absa/enceladus/testutils/infoFileComparison/InfoFileComparisonJob.scala
  testutils/src/main/scala/za/co/absa/enceladus/testutils/rest/CmdConfig.scala
  testutils/src/main/scala/za/co/absa/enceladus/testutils/rest/RestCaller.scala
  testutils/src/test/resources/log4j.properties
Labels: refactoring

#744 #743: Decrease the size of the build log - module Dao
  dao/src/main/scala/za/co/absa/enceladus/dao/EnceladusRestDAO.scala
  dao/src/main/scala/za/co/absa/enceladus/dao/menasplugin/EventListenerMenas.scala
  dao/src/main/scala/za/co/absa/enceladus/dao/menasplugin/MenasCredentials.scala
Labels: refactoring
