Repository AbsaOSS/enceladus, pull requests merged in 2019-08, with the labels that each got.

#741 #727: Decrease the size of the build log - module Migrations
  migrations/src/main/scala/za/co/absa/enceladus/migrations/migrations/model1/SchemaField.scala
  migrations/src/main/scala/za/co/absa/enceladus/migrations/migrations/model1/VersionedModel.scala
  migrations/src/test/resources/log4j.properties
Labels: refactoring

#740 #724: Decrease the size of the build log - module external
  external/fixedWidth/src/main/scala/za/co/absa/enceladus/fixedWidth/FixedWidthRelation.scala
  external/fixedWidth/src/main/scala/za/co/absa/enceladus/fixedWidth/types/SparkTypeResolver.scala
  external/fixedWidth/src/test/resources/log4j.properties
  external/kafka/src/main/scala/za/co/absa/enceladus/kafka/KafkaDispatcher.scala
  external/kafka/src/main/scala/za/co/absa/enceladus/kafka/parameters/KafkaParametersProcessor.scala
  external/kafka/src/test/resources/log4j.properties
Labels: refactoring

#739 #726: Decrease the size of the build log - module DataModel
  dataModel/src/main/scala/za/co/absa/enceladus/model/Dataset.scala
  dataModel/src/main/scala/za/co/absa/enceladus/model/DefaultValue.scala
  dataModel/src/main/scala/za/co/absa/enceladus/model/MappingTable.scala
  dataModel/src/main/scala/za/co/absa/enceladus/model/Schema.scala
  dataModel/src/main/scala/za/co/absa/enceladus/model/SchemaField.scala
  dataModel/src/main/scala/za/co/absa/enceladus/model/menas/audit/AuditTrail.scala
  dataModel/src/main/scala/za/co/absa/enceladus/model/menas/audit/Auditable.scala
  dataModel/src/main/scala/za/co/absa/enceladus/model/menas/jackson/OptCharDeserializer.scala
  dataModel/src/main/scala/za/co/absa/enceladus/model/menas/scheduler/RuntimeConfig.scala
  dataModel/src/main/scala/za/co/absa/enceladus/model/versionedModel/VersionedModel.scala
  dataModel/src/test/resources/log4j.properties
  dataModel/src/test/scala/za/co/absa/enceladus/model/menas/audit/AuditableTest.scala
Labels: refactoring

#733 #721: Decrease the size of the build log - module Examples
  examples/src/main/scala/za/co/absa/enceladus/examples/CustomRuleSample4.scala
  examples/src/test/resources/log4j.properties
  examples/src/test/scala/za/co/absa/enceladus/examples/interpreter/rules/custom/UppercaseCustomConformanceRuleSuite.scala
Labels: refactoring

#732 720 decrease the size of the buildlog module standardization
  standardization/src/main/scala/za/co/absa/enceladus/standardization/CmdConfig.scala
  standardization/src/main/scala/za/co/absa/enceladus/standardization/StandardizationJob.scala
  standardization/src/main/scala/za/co/absa/enceladus/standardization/interpreter/stages/PlainSchemaGenerator.scala
  standardization/src/main/scala/za/co/absa/enceladus/standardization/interpreter/stages/SchemaChecker.scala
  standardization/src/main/scala/za/co/absa/enceladus/standardization/interpreter/stages/SparkXMLHack.scala
  standardization/src/main/scala/za/co/absa/enceladus/standardization/interpreter/stages/TypeParser.scala
  standardization/src/test/resources/log4j.properties
  standardization/src/test/scala/za/co/absa/enceladus/ConfigSuite.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/fixtures/TempFileFixture.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/CounterPartySuite.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/DateTimeSuite.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/SampleDataSuite.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/StandardizationInterpreter_DateSuite.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/StandardizationInterpreter_TimestampSuite.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/samples/TestSamples.scala
Labels: Standardization, refactoring

#729 #719: Decrease the size of the build log - module Conformance
  conformance/src/main/scala/za/co/absa/enceladus/conformance/CmdConfig.scala
  conformance/src/main/scala/za/co/absa/enceladus/conformance/DynamicConformanceJob.scala
  conformance/src/main/scala/za/co/absa/enceladus/conformance/datasource/DataSource.scala
  conformance/src/main/scala/za/co/absa/enceladus/conformance/interpreter/DynamicInterpreter.scala
  conformance/src/main/scala/za/co/absa/enceladus/conformance/interpreter/FeatureSwitches.scala
  conformance/src/main/scala/za/co/absa/enceladus/conformance/interpreter/InterpreterContext.scala
  conformance/src/main/scala/za/co/absa/enceladus/conformance/interpreter/OptimizerTimeTracker.scala
  conformance/src/main/scala/za/co/absa/enceladus/conformance/interpreter/rules/CastingRuleInterpreter.scala
  conformance/src/main/scala/za/co/absa/enceladus/conformance/interpreter/rules/MappingRuleInterpreter.scala
  conformance/src/main/scala/za/co/absa/enceladus/conformance/interpreter/rules/MappingRuleInterpreterGroupExplode.scala
  conformance/src/main/scala/za/co/absa/enceladus/conformance/interpreter/rules/NegationRuleInterpreter.scala
  conformance/src/main/scala/za/co/absa/enceladus/conformance/interpreter/rules/RuleInterpreter.scala
  conformance/src/test/resources/log4j.properties
  conformance/src/test/scala/za/co/absa/enceladus/ConfigSuite.scala
  conformance/src/test/scala/za/co/absa/enceladus/conformance/interpreter/ArrayConformanceSuite.scala
  conformance/src/test/scala/za/co/absa/enceladus/conformance/interpreter/ChorusMockSuite.scala
  conformance/src/test/scala/za/co/absa/enceladus/conformance/interpreter/InterpreterSuite.scala
  conformance/src/test/scala/za/co/absa/enceladus/conformance/interpreter/NestedStructSuite.scala
  conformance/src/test/scala/za/co/absa/enceladus/conformance/interpreter/fixtures/NestedStructsFixture.scala
  conformance/src/test/scala/za/co/absa/enceladus/conformance/interpreter/rules/CastingRuleSuite.scala
  conformance/src/test/scala/za/co/absa/enceladus/conformance/interpreter/rules/LiteralRuleSuite.scala
  conformance/src/test/scala/za/co/absa/enceladus/conformance/interpreter/rules/NegationRuleSuite.scala
  conformance/src/test/scala/za/co/absa/enceladus/conformance/interpreter/rules/RulesSuite.scala
  conformance/src/test/scala/za/co/absa/enceladus/conformance/interpreter/rules/TestRuleBehaviors.scala
  conformance/src/test/scala/za/co/absa/enceladus/conformance/interpreter/rules/custom/CustomRuleSuite.scala
  conformance/src/test/scala/za/co/absa/enceladus/samples/EmployeeConformance.scala
  conformance/src/test/scala/za/co/absa/enceladus/samples/TradeConformance.scala
  examples/src/main/scala/za/co/absa/enceladus/examples/CustomRuleSample1.scala
  examples/src/main/scala/za/co/absa/enceladus/examples/CustomRuleSample2.scala
  examples/src/main/scala/za/co/absa/enceladus/examples/CustomRuleSample3.scala
  examples/src/main/scala/za/co/absa/enceladus/examples/CustomRuleSample4.scala
  examples/src/test/scala/za/co/absa/enceladus/examples/interpreter/rules/custom/UppercaseCustomConformanceRuleSuite.scala
  examples/src/test/scala/za/co/absa/enceladus/examples/interpreter/rules/custom/XPadCustomConformanceRuleSuite.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/testUtils/SparkTestBase.scala
Labels: Conformance, refactoring

#804 #731: DeepArrayTransformations.nestedAddColumn function parameter cor…
  conformance/src/main/scala/za/co/absa/enceladus/conformance/interpreter/rules/LiteralRuleInterpreter.scala
  conformance/src/main/scala/za/co/absa/enceladus/conformance/interpreter/rules/SparkSessionConfRuleInterpreter.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/explode/ExplodeTools.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/transformations/DeepArrayTransformations.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/transformations/DeepArrayErrorTransformationSuite.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/transformations/DeepArrayTransformationSuite.scala
Labels: refactoring

#809 Feature/446 add control features to scheduling
  menas/src/main/resources/scheduling/oozie/coordinator_template.xml
  menas/src/main/scala/za/co/absa/enceladus/menas/controllers/OozieController.scala
  menas/src/main/scala/za/co/absa/enceladus/menas/controllers/RestExceptionHandler.scala
  menas/src/main/scala/za/co/absa/enceladus/menas/exceptions/OozieActionException.scala
  menas/src/main/scala/za/co/absa/enceladus/menas/models/RestError.scala
  menas/src/main/scala/za/co/absa/enceladus/menas/repositories/OozieRepository.scala
  menas/src/main/scala/za/co/absa/enceladus/menas/services/OozieService.scala
  menas/ui/components/dataset/datasetDetail.controller.js
  menas/ui/components/dataset/schedule/viewSchedule.fragment.xml
  menas/ui/css/style.css
  menas/ui/service/GenericService.js
  menas/ui/service/OozieService.js
  menas/ui/service/RestDAO.js
Labels: Menas, feature

#784 #420 - Nulls allowed as default values
  external/fixedWidth/src/main/scala/za/co/absa/enceladus/fixedWidth/types/SparkTypeResolver.scala
  standardization/src/main/scala/za/co/absa/enceladus/standardization/interpreter/stages/TypeParser.scala
  standardization/src/test/resources/dateTimestampSchemaOk.json
  standardization/src/test/resources/dateTimestampSchemaWrong.json
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/DateTimeSuite.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/StandardizationInterpreterSuite.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/StandardizationInterpreter_DecimalSuite.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/StandardizationInterpreter_FractionalSuite.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/StandardizationInterpreter_IntegralSuite.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/StdInterpreterSuite.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/stages/TypeParserSuiteTemplate.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/schema/MetadataKeys.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/schema/SchemaUtils.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/time/DateTimePattern.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/types/Defaults.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/types/TypedStructField.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/types/parsers/DateTimeParser.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/types/parsers/DecimalParser.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/types/parsers/FractionalParser.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/types/parsers/IntegralParser.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/validation/DateTimeValidator.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/validation/SchemaValidator.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/validation/field/DateFieldValidator.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/validation/field/DateTimeFieldValidator.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/validation/field/FieldValidator.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/validation/field/FieldValidatorDateTime.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/validation/field/FieldValidatorScalar.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/validation/field/ScalarFieldValidator.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/validation/field/TimestampFieldValidator.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/time/DateTimePatternSuite.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/types/DefaultsSuite.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/types/TypedStructFieldSuite.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/types/parsers/DateTimeParserSuite.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/validation/field/DateFieldValidatorSuite.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/validation/field/TimestampFieldValidatorSuite.scala
Labels: Standardization, bug, feature

#856 #855 Clean-up entity function drop schedule updates
  menas/ui/service/EntityService.js
Labels: Menas, bug

#858 #857 Update schedule fails, trying to write null into dateCreated
  menas/src/main/scala/za/co/absa/enceladus/menas/services/DatasetService.scala
Labels: Menas, bug
