Repository AbsaOSS/enceladus, pull requests merged in 2019-09, with the labels that each got.

#860 #822: Use defaultWithNull in Conformance
  conformance/src/main/scala/za/co/absa/enceladus/conformance/interpreter/rules/NegationRuleInterpreter.scala
  conformance/src/test/scala/za/co/absa/enceladus/conformance/interpreter/rules/NegationRuleSuite.scala
  conformance/src/test/scala/za/co/absa/enceladus/samples/NegationRuleSamples.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/schema/SchemaUtils.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/schema/SchemaUtilsSuite.scala
Labels: Conformance, feature, refactoring

#853 #491 Type error when session expires
  menas/ui/components/dataset/conformanceRule/SchemaManager.js
Labels: Menas, bug

#894 #892 Mapping rule with literal in join condition may throw error
  conformance/src/main/scala/za/co/absa/enceladus/conformance/interpreter/rules/MappingRuleInterpreter.scala
  conformance/src/main/scala/za/co/absa/enceladus/conformance/interpreter/rules/MappingRuleInterpreterGroupExplode.scala
  conformance/src/test/resources/interpreter/literalJoin/data/file.csv
  conformance/src/test/resources/interpreter/literalJoin/mapping/file.csv
  conformance/src/test/scala/za/co/absa/enceladus/conformance/interpreter/LiteralJoinMappingRuleTest.scala
Labels: Conformance, bug, priority: high

#896 Issue #893: The convenience scripts should always propagate spark's status codes
  scripts/bash/run_enceladus.sh
Labels: Conformance, Standardization, bug

#907 #799: Uploading schema with default value having integer breaks the schema
  menas/src/main/scala/za/co/absa/enceladus/menas/controllers/SchemaController.scala
  menas/src/main/scala/za/co/absa/enceladus/menas/utils/converters/SparkMenasSchemaConvertor.scala
  menas/src/test/scala/za/co/absa/enceladus/menas/utils/converters/SparkMenasSchemaConvertorSuite.scala
  menas/ui/components/schema/schemaDetail.controller.js
  menas/ui/service/ResponseUtils.js
Labels: Menas, UX, bug

#938 #398: sourcecolumn metadata value doesn't work
  conformance/pom.xml
  dao/pom.xml
  dataModel/pom.xml
  examples/pom.xml
  external/fixedWidth/pom.xml
  external/kafka/pom.xml
  menas/pom.xml
  migrations-cli/pom.xml
  migrations/pom.xml
  pom.xml
  selenium/pom.xml
  standardization/pom.xml
  standardization/src/main/scala/za/co/absa/enceladus/standardization/StandardizationJob.scala
  standardization/src/main/scala/za/co/absa/enceladus/standardization/interpreter/stages/TypeParser.scala
  testutils/pom.xml
  utils/pom.xml
Labels: Standardization, bug
