Repository AbsaOSS/enceladus, pull requests merged in 2019-10, with the labels that each got.

#954 #951: Global time zone setting for timestamps and dated
  conformance/pom.xml
  dao/pom.xml
  dataModel/pom.xml
  examples/pom.xml
  external/fixedWidth/pom.xml
  external/kafka/pom.xml
  menas/pom.xml
  migrations-cli/pom.xml
  migrations/pom.xml
  pom.xml
  standardization/pom.xml
  standardization/src/main/resources/application.conf.template
  standardization/src/main/scala/za/co/absa/enceladus/standardization/interpreter/stages/TypeParser.scala
  testutils/pom.xml
  utils/pom.xml
  utils/src/main/scala/za/co/absa/enceladus/utils/general/ConfigReader.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/time/TimeZoneNormalizer.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/types/Defaults.scala
Labels: Standardization, bug

#956 #746 Audit trail is missing the removed value
  dataModel/src/test/scala/za/co/absa/enceladus/model/menas/audit/AuditableTest.scala
  menas/ui/components/auditTrail.fragment.xml
Labels: Menas, bug

#955 #449 Scheduler's unticked checkboxes write null to mongo
  .gitignore
  dataModel/src/main/scala/za/co/absa/enceladus/model/menas/jackson/NonNullOptBooleanDeserializer.scala
  dataModel/src/main/scala/za/co/absa/enceladus/model/menas/scheduler/dataFormats/package.scala
Labels: Menas, bug

#961 #398: sourcecolumn metadata might not work as expected
  dao/src/test/resources/application.conf
  standardization/src/main/scala/za/co/absa/enceladus/standardization/StandardizationCommon.scala
  standardization/src/main/scala/za/co/absa/enceladus/standardization/StandardizationJob.scala
  standardization/src/main/scala/za/co/absa/enceladus/standardization/interpreter/StandardizationInterpreter.scala
  standardization/src/main/scala/za/co/absa/enceladus/standardization/interpreter/stages/TypeParser.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/StandardizationInterpreterSuite.scala
  standardization/src/test/scala/za/co/absa/enceladus/standardization/interpreter/stages/TypeParserSuiteTemplate.scala
  utils/src/main/scala/za/co/absa/enceladus/utils/schema/SchemaUtils.scala
  utils/src/test/scala/za/co/absa/enceladus/utils/schema/SchemaUtilsSuite.scala
Labels: Standardization, bug, devops

#982 #891 Update spark version in the documentation
  README.md
Labels: docs

#983 Feature/553 searchable schema fieldselector
  dataModel/src/main/scala/za/co/absa/enceladus/model/SchemaField.scala
  menas/ui/components/AuditTrail.js
  menas/ui/components/dataset/conformanceRule/ConformanceRuleFormFactory.js
  menas/ui/components/dataset/conformanceRule/MappingConformanceRule/JoinConditionDialogFactory.js
  menas/ui/components/dataset/datasetDetail.controller.js
  menas/ui/components/mappingTable/mappingTableDetail.controller.js
  menas/ui/components/tables/TableUtils.js
  menas/ui/components/tables/searchDialog.fragment.xml
  menas/ui/service/EntityService.js
Labels: Menas, UX, feature
