Repository AbsaOSS/enceladus, pull requests merged in 2019-01, with the labels that each got.

#67 Feature/custom rule example
  conformance/src/test/scala/za/co/absa/enceladus/conformance/interpreter/rules/custom/CustomRuleSuite.scala
  examples/README.md
  examples/data/input/example_data.csv
  examples/pom.xml
  examples/src/main/resources/application.conf
  examples/src/main/resources/log4j.properties
  examples/src/main/scala/za/co/absa/enceladus/examples/CustomRuleSample1.scala
  examples/src/main/scala/za/co/absa/enceladus/examples/CustomRuleSample2.scala
  examples/src/main/scala/za/co/absa/enceladus/examples/CustomRuleSample3.scala
  examples/src/main/scala/za/co/absa/enceladus/examples/CustomRuleSample4.scala
  examples/src/main/scala/za/co/absa/enceladus/examples/interpreter/rules/custom/UppercaseCustomConformanceRule.scala
  examples/src/main/scala/za/co/absa/enceladus/examples/interpreter/rules/custom/XPadCustomConformanceRule.scala
  examples/src/test/resources/log4j.properties
  examples/src/test/scala/za/co/absa/enceladus/examples/interpreter/rules/custom/UppercaseCustomConformanceRuleSuite.scala
  examples/src/test/scala/za/co/absa/enceladus/examples/interpreter/rules/custom/XPadCustomConformanceRuleSuite.scala
  pom.xml
Labels: examples, feature

#116 112 Schema file upload validation check
  menas/ui/components/schema/schemaMain.controller.js
Labels: bug

#122 #26 Performance optimisation for standardisation
  standardization/src/main/scala/za/co/absa/enceladus/standardization/StandardizationJob.scala
  standardization/src/main/scala/za/co/absa/enceladus/standardization/interpreter/StandardizationInterpreter.scala
Labels: Standardization, enhancement

#128 Feature/123b rest testing framework
  pom.xml
  testutils/pom.xml
  testutils/src/main/scala/za/co/absa/enceladus/testutils/models/RestMethod.scala
  testutils/src/main/scala/za/co/absa/enceladus/testutils/models/TestCase.scala
  testutils/src/main/scala/za/co/absa/enceladus/testutils/models/TestCaseResult.scala
  testutils/src/main/scala/za/co/absa/enceladus/testutils/models/TestRun.scala
  testutils/src/main/scala/za/co/absa/enceladus/testutils/rest/CmdConfig.scala
  testutils/src/main/scala/za/co/absa/enceladus/testutils/rest/RestCaller.scala
  testutils/src/main/scala/za/co/absa/enceladus/testutils/rest/RestRunnerJob.scala
  testutils/src/test/resources/restCalls1.csv
  testutils/src/test/scala/za/co/absa/enceladus/testutils/models/TestCaseTest.scala
  testutils/src/test/scala/za/co/absa/enceladus/testutils/models/TestRunTest.scala
  testutils/src/test/scala/za/co/absa/enceladus/testutils/rest/ConfigSuite.scala
  testutils/src/test/scala/za/co/absa/enceladus/testutils/rest/RestCallerTest.scala
  testutils/src/test/scala/za/co/absa/enceladus/testutils/rest/RestRunnerJobTest.scala
Labels: feature, tests
