Repository AbsaOSS/enceladus, pull requests merged in 2021-02, with the labels that each got.

#1658 #1290 Reverse ordering of versions in version pickers
  menas/ui/components/mappingTableSelector.fragment.xml
  menas/ui/components/schema/selector/schemaSelector.fragment.xml
Labels: Menas, UX, feature

#1667 #1666: `overrideMappingTableOwnFilter` in `MappingConformanceRule` makes its old serialization incompatible
  data-model/src/main/scala/za/co/absa/enceladus/model/Dataset.scala
  data-model/src/main/scala/za/co/absa/enceladus/model/conformanceRule/package.scala
  data-model/src/main/scala/za/co/absa/enceladus/model/properties/propertyType/package.scala
  data-model/src/test/scala/za/co/absa/enceladus/model/conformanceRule/ConformanceRuleTest.scala
  menas/src/main/scala/za/co/absa/enceladus/menas/repositories/DatasetMongoRepository.scala
  menas/src/test/scala/za/co/absa/enceladus/menas/integration/repositories/DatasetRepositoryIntegrationSuite.scala
  spark-jobs/src/main/scala/za/co/absa/enceladus/conformance/interpreter/rules/mapping/CommonMappingRuleInterpreter.scala
  spark-jobs/src/test/scala/za/co/absa/enceladus/common/CommonExecutionSuite.scala
  spark-jobs/src/test/scala/za/co/absa/enceladus/standardization/StandardizationExecutionSuite.scala
Labels: test ran

#1676 #1675 Add busy indicator onto the landing page of Menas
  menas/ui/components/home/landingPage.controller.js
  menas/ui/components/home/landingPage.view.xml
  menas/ui/service/GenericService.js
Labels: Menas, UX, feature, priority: high, request

#1678 #1677 Add a busy indicator onto the runs master views in Menas
  menas/ui/components/run/runDatasetNameMaster.controller.js
  menas/ui/components/run/runDatasetVersionMaster.controller.js
  menas/ui/service/RunService.js
Labels: Menas, UX, feature, priority: high, test ran

#1657 #1571 UI Changes for Dataset properties
  menas/ui/components/app.controller.js
  menas/ui/components/dataset/addDataset.fragment.xml
  menas/ui/components/dataset/datasetDetail.controller.js
  menas/ui/components/dataset/datasetInfo.fragment.xml
  menas/ui/components/schema/selector/schemaSelector.fragment.xml
  menas/ui/css/style.css
  menas/ui/index.html
  menas/ui/service/EntityDialog.js
  menas/ui/service/EntityService.js
  menas/ui/service/EntityValidationService.js
  menas/ui/service/PropertiesService.js
Labels: Menas, feature, priority: high, test ran

#1680 #1679 Landing page information takes a minute to load with 1.3M runs
  menas/src/main/scala/za/co/absa/enceladus/menas/Application.scala
  menas/src/main/scala/za/co/absa/enceladus/menas/controllers/LandingPageController.scala
  menas/src/main/scala/za/co/absa/enceladus/menas/repositories/LandingPageStatisticsMongoRepository.scala
  menas/src/main/scala/za/co/absa/enceladus/menas/utils/implicits/package.scala
Labels: Menas, UX, bug, priority: high, test ran

#1670 1669 Add Admin Role based authorization for property def
  menas/src/main/resources/application.properties.template
  menas/src/main/scala/za/co/absa/enceladus/menas/MvcConfig.scala
  menas/src/main/scala/za/co/absa/enceladus/menas/WebSecurityConfig.scala
  menas/src/main/scala/za/co/absa/enceladus/menas/auth/AuthConstants.scala
  menas/src/main/scala/za/co/absa/enceladus/menas/auth/InMemoryMenasAuthentication.scala
  menas/src/main/scala/za/co/absa/enceladus/menas/auth/MenasAuthenticationSuccessHandler.scala
  menas/src/main/scala/za/co/absa/enceladus/menas/auth/jwt/JwtAuthenticationFilter.scala
  menas/src/main/scala/za/co/absa/enceladus/menas/controllers/PropertyDefinitionController.scala
  menas/src/test/resources/application.properties
  menas/src/test/scala/za/co/absa/enceladus/menas/integration/controllers/BaseRestApiTest.scala
  menas/src/test/scala/za/co/absa/enceladus/menas/integration/controllers/PropertyDefinitionApiIntegrationSuite.scala
Labels: test ran
